<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xt.dao.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.xt.vo.Supplier" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="add_user_id" property="addUserId" jdbcType="BIGINT" />
    <result column="delete_state" property="deleteState" jdbcType="INTEGER" />
    <result column="edit_id" property="editId" jdbcType="BIGINT" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="notes" property="notes" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, add_time, add_user_id, delete_state, edit_id, edit_time, address, name, notes, 
    tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cx_supplier
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cx_supplier
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xt.vo.Supplier" >
    insert into cx_supplier (id, add_time, add_user_id, 
      delete_state, edit_id, edit_time, 
      address, name, notes, 
      tel)
    values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{addUserId,jdbcType=BIGINT}, 
      #{deleteState,jdbcType=INTEGER}, #{editId,jdbcType=BIGINT}, #{editTime,jdbcType=TIMESTAMP}, 
      #{address,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xt.vo.Supplier" >
    insert into cx_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="addUserId != null" >
        add_user_id,
      </if>
      <if test="deleteState != null" >
        delete_state,
      </if>
      <if test="editId != null" >
        edit_id,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="notes != null" >
        notes,
      </if>
      <if test="tel != null" >
        tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null" >
        #{addUserId,jdbcType=BIGINT},
      </if>
      <if test="deleteState != null" >
        #{deleteState,jdbcType=INTEGER},
      </if>
      <if test="editId != null" >
        #{editId,jdbcType=BIGINT},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.vo.Supplier" >
    update cx_supplier
    <set >
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null" >
        add_user_id = #{addUserId,jdbcType=BIGINT},
      </if>
      <if test="deleteState != null" >
        delete_state = #{deleteState,jdbcType=INTEGER},
      </if>
      <if test="editId != null" >
        edit_id = #{editId,jdbcType=BIGINT},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.vo.Supplier" >
    update cx_supplier
    set add_time = #{addTime,jdbcType=TIMESTAMP},
      add_user_id = #{addUserId,jdbcType=BIGINT},
      delete_state = #{deleteState,jdbcType=INTEGER},
      edit_id = #{editId,jdbcType=BIGINT},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>